services:
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: "{{ db_password }}"
      POSTGRES_USER: "postgres"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  server:
    image: ghcr.io/aet-devops26/team-http-418/server:{{ image_tag }}
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  client:
    image: ghcr.io/aet-devops26/team-http-418/client:{{ image_tag }}
    ports:
      - "80:80"
    depends_on:
      - server
    restart: unless-stopped

  user-profile-service:
    image: ghcr.io/aet-devops26/team-http-418/user-profile-service:{{ image_tag }}
    ports:
      - "8060:8080"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/v1/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  pdf-parser:
    image: ghcr.io/aet-devops26/team-http-418/pdf-parser:{{ image_tag }}
    ports:
      - "8070:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/v1/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  pgdata:
