# OS
.DS_Store
Thumbs.db

# Local
/.local/

# IDE
.idea/
*.iml

# AI
.claude/
.ai/

# Server
.gradle/
build/
*.jar
out/

# Client
node_modules/
dist/
dist-ssr/
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# Ansible
*.retry
