[defaults]
inventory = inventory.ini
remote_user = azureuser
host_key_checking = True
retry_files_enabled = False
error_on_missing_handler = True

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=yes
